.cm-s-default .cm-keyword {
  color: #348b97;
}

.cm-s-default .cm-comment {
  color: #c4c4c4;
}


.cm-s-default .cm-number {
  color: #9eab18;
}

.cm-operator {
  color: #f1a637;
  /*background-color: #ffefd9;*/
}

.cm-s-default .cm-variable,
.cm-create-keyword {
  color: #c44fdd;
}

.cm-s-default .cm-variable {
  font-weight: bold;
}

.cm-procedure-keyword,
.cm-procedure {
  color: #7ac431;
}

.cm-procedure {
  font-weight: bold;
}
