.App {
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  height: 50px;
}

.App-title {
  font-size: 1em;
  font-family: monospace;
}

.Content-Wrapper {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: row;
}

.Actions {
  padding: 10px;
  background-color: #f0f0f0;
}

.Button {
  border-radius: 0;
  font-size: 15px;
  border: none;
  margin-right: 5px;
}

.Button .fa {
  margin-right: 5px;
}

.Button.OnlyIcon .fa {
  margin-right: 0;
}

.Run.Button,
.Continue.Button {
  background: #a4cba4;
}

.StepByStep.Button,
.Next.Button {
  background: #8ccff5;
}

.Stop.Button {
  background: #ffc9c9;
}

.EditorWrapper, .OutputWrapper {
  height: 100%;
  width: 50%;
}
